<!--
  templateType: global_partial
  label: Footer
-->
<footer class="footer">
  {% dnd_area "footer"
    label="Footer",
    class="footer__container content-wrapper"
  %}

    {# Row 1: 3 columns (logo + logo + copyright) #}
    {% dnd_section %}

      {# Col 1: Logo Real Castilla #}
      {% dnd_column offset=0, width=3 %}
        {% dnd_row %}
          {% dnd_module
            path="@hubspot/linked_image",
            img={
              "alt": "Real Castilla",
              "loading": "lazy",
              "size_type": "auto",
              "src": context.footer_logo_left or get_asset_url("../../images/logotipo-real-castilla.png")
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}

      {# Col 2: Logo Vinte #}
      {% dnd_column offset=3, width=3 %}
        {% dnd_row %}
          {% dnd_module
            path="@hubspot/linked_image",
            img={
              "alt": "Vinte",
              "loading": "lazy",
              "size_type": "auto",
              "src": context.footer_logo_center or get_asset_url("../../images/logotipo-vinte-footer.png")
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}

      {# Col 3: Copyright largo + año #}
      {% dnd_column offset=6, width=6 %}
        {% dnd_row %}
          {% dnd_module
            path="@hubspot/rich_text",
            html={{
              context.footer_copyright_long
              or
              "<div class='rc-footer__legal'>© " ~ year ~ ", Corporativo Vinte © Vinte 2022. Todos los derechos reservados. PROMOTORA DE VIVIENDAS INTEGRALES SA DE CV, AVENIDA VIA REAL MZ. 16 LT. 1 LOCAL 1, FRACCIONAMIENTO REAL DEL SOL, TECAMAC, MEXICO 55770, México, Teléfono: 5550107360.</div>"
            }}
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}

    {% end_dnd_section %}

    {# Row 2: Single column copyright Real Castilla #}
    {% dnd_section %}
      {% dnd_column offset=0, width=12 %}
        {% dnd_row %}
          {% dnd_module
            path="@hubspot/rich_text",
            html={{
              context.footer_copyright_bottom
              or
              "<div class='rc-footer__bottom'>© " ~ year ~ " Real Castilla – Comunidad Vinte. Exclusividad Garantizada.</div>"
            }}
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

  {% end_dnd_area %}
</footer>
