<!--
  templateType: page
  isAvailableForNewContent: true
  label: Home Real Castilla
  screenshotPath: ../images/template-previews/home.png
-->
{% extends "./layouts/base.html" %}

{% block body %}

{# All templates are recommended to have an h1 present for both accessibility and SEO best practice. This should be at the top of the template before any other textual content. The h1 element below is within a dnd area to allow content editors the ability to adjust the content and alignment of the text. #}

{% dnd_area "dnd_area"
  label="Main section",
  class="body-container body-container--home"
%}

  {# Hero banner #}

  {% include_dnd_partial path="../sections/hero-banner.html" %}

  {# Espacios compartidos #}

  {% include_dnd_partial path="../sections/espacios-compartidos.html" %}

  {# Amenidades #}

  {% include_dnd_partial path="../sections/amenidades.html" %}

   {# Video de bienvenida #}

  {% include_dnd_partial path="../sections/video-bienvenida.html" %}

  {# Modelos slider #}
  {% dnd_section
    padding={
      "default": {
        "top": 150,
        "bottom": 50
      },
      "mobile": {
        "top": 80,
        "right": 20,
        "bottom": 80,
        "left": 20
      }
    },
  %}
    {% dnd_column %}
      {% dnd_row %}
        
        {% dnd_module
          path="@hubspot/header",
          header_tag="h2",
          value={{ context.heading_title or "Tu independecia y privacidad en casa de tres recamaras desde $1,699,000" }},
          width=6,
          extra_classes="heading-modelos-slider"
        %}

        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}

          {% dnd_module
            path="@hubspot/rich_text",
            html="<p>Nuestras <strong>casas residenciales modernas están diseñadas</strong> para adaptarse a tu estilo y proyecto de vida. Todas nuestras opciones cuentan con acabados de alta calidad y espacios optimizados para tu comodidad.</p>",
            width=7,
            class="home-models-text"
          %}

        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}

          {% dnd_module path="../modules/modelos-propiedades-slider" %}
          {% end_dnd_module %}
      
        {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}

  {# Comprador inteligente #}
  {% dnd_section
    padding={
      "default": { "top": 80, "right": 20, "bottom": 80, "left": 20 },
      "mobile":  { "top": 60, "right": 20, "bottom": 60, "left": 20 }
    },
    vertical_alignment="MIDDLE"
  %}
    {# Columna izquierda (texto + lista de amenities) #}
    {% dnd_column offset=0, width=5 %}

      {% dnd_row %}
        {% dnd_module
          path="@hubspot/rich_text",
          html="<h2 class='p-b-30'>Para el Comprador Inteligente</h2><p class='pt-30'>Nuestra comunidad destaca por estar altamente informada. Por ello, ofrecemos transparencia total en tu inversión:</p>",
          extra_classes="heading-big"
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}

      {# Amenities debajo del rich text #}
      {% dnd_row %}
        {% dnd_module
          path="../modules/amenities-items",
          icon={
            "src": get_asset_url("../images/icons/compra-inteligente-flexibilidad-financiera.png"),
            "alt": "Flexibilidad Financiera",
            "loading": "lazy"
          },
          content="<p><strong>Flexibilidad Financiera:</strong> Aceptamos créditos Infonavit, Fovissste y bancarios.</p>"
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}

      {% dnd_row %}
        {% dnd_module
          path="../modules/amenities-items",
          icon={
            "src": get_asset_url("../images/icons/compra-inteligente-bono-escrituracion.png"),
            "alt": "Bono de Escrituración",
            "loading": "lazy"
          },
          content="<p><strong>Bono de Escrituración:</strong> Un incentivo exclusivo para facilitar tu proceso de adquisición de vivienda.</p>"
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}

    {% end_dnd_column %}

    {# Columna derecha (imagen principal) #}
    {% dnd_column offset=5, width=7 %}
      {% dnd_row %}
        {% dnd_module
          path="@hubspot/linked_image",
          img={
            "alt": "Para el comprador inteligente",
            "loading": "lazy",
            "size_type": "auto_custom_max",
            "src": get_asset_url("../images/para-el-comprador-inteligente.png")
          }
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}

  {% end_dnd_section %}

  {# Blog post #}

  {% include_dnd_partial path="../sections/blog-post-home.html" %}

  {# Contacto con formulario #}

  {% include_dnd_partial path="../sections/contacto-formulario-home.html" %}

  {# Ubicacion#}

  {% include_dnd_partial path="../sections/ubicacion.html" %}
  

{% end_dnd_area %}
{% endblock body %}
