.rc-amenity-item{
  display: flex;
  flex-direction: column;   /* 🔥 Esto crea las 2 filas */
  align-items: flex-start;
  gap: var(--rc-gap, 12px);
  margin-bottom: 30px;
}

.rc-amenity-item__icon{
  width: var(--rc-icon-size, 56px);
  height: var(--rc-icon-size, 56px);
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rc-amenity-item__icon img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.rc-amenity-item__text p{
  margin: 0;
  font-size: var(--font-size-base);
  line-height: 1.45;
  opacity: .85;
}

.rc-amenity-item__text strong{
  font-weight: 700;
  color: #000000;
  opacity: 1;
}